*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(227, 193, 82);
}

.form-div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    align-items: center;

}

#spot-0, #spot-1, #spot-3, #spot-4 {
    border-bottom: black 8px solid;
    border-right: black 8px solid;
}

#spot-2, #spot-5 {
    border-bottom: black 8px solid;
}
#spot-6, #spot-7 {
    border-right: black 8px solid;
}



.spot {
    background-color: lightcoral;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    
    
}

#reset-btn {
    background-color: lightskyblue;
    border-radius: 10px;
    padding: 1em;
}

.spot:hover {
    background-color: rgb(121, 255, 237);
    transition: background-color .3s ease-in;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    column-gap: 0px;
}

#board{
    max-width: 600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#alert-modal {
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 10px;
    flex-direction: column;
    
}

#alert-modal-text {
    font-size: x-large;
}
#alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hidden {
    display: none;
}





@media (max-width: 500px) {
    .spot {
        height: 120px;
    }
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
}